@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, ::before, ::after {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply antialiased bg-background text-text font-sans;
  }

  button {
    @apply font-medium font-grotesk;
  }

  input, textarea {
    @apply font-inter font-normal;
  }
}

